.toggle_btn {
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-md);
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all var(--transition-base);
    position: relative;
}

.toggle_btn:hover {
    border-color: var(--color-primary);
}

.toggle_btn:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.sun_icon,
.moon_icon {
    font-size: 1.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 1;
    transition: all var(--transition-slow);
}

:global(.dark) .sun_icon {
    scale: 0;
}

.moon_icon {
    position: absolute;
    scale: 0;
}

:global(.dark) .moon_icon {
    scale: 1;
}

.sr_only {
    position: absolute;
    display: none;
}