.avatar_image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: var(--radius-full);
    outline: 2px solid var(--color-primary);
    transition: all var(--transition-base);
}

.avatar_image:hover {
    outline-offset: 2px;
}